@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.hero {
    background-image: url(./main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%; 
}

nav {
    /* background: #000; */
    height: 10%;
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

svg {
    fill: #1CE783;
}

.logBtn {
    background: none;
    color: #a8afbd;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 16px;
    transition: 0.2s all ease-in-out;
}

.logBtn:hover {
    background-color: #323843;
    color: #ffffff;
}

.menuIcon {
    display: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 600;
    background-color: #323843;
    color: #ffffff;
}

.container {
    width: auto;
    /* height: 86.8vh; */
    color: white;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mainContainer {
    height: 80%;
    width: 50%;
    margin-top: 30px;
    text-align: center;
}

.time {
    font-size: 14px;
    color: #a8afbd;
    text-transform: uppercase;
}

.container img {
    height: 75px;
    margin: 20px;
}

.container h1 {
    font-size: 40px;
}

.container h2 {
    font-size: 20px;
    padding: 10px;
}

.container button {
    background-color: #1CE783;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 15px 0px;
    font-size: 14px;
    font-weight: 800;
    width: 100%;
    transition: 0.2s all ease-in-out;
    height: 40px;
}
.container button:hover{
    background-color: rgba(28, 231, 131, 0.45);

}
/* .tmc{
    display: flex;
} */
.mainContainer:last-child{
    font-size: 9px;
    line-height: 16px;
    color: #a8afbd;
    margin-bottom: 30px;
}
.mainContainer a{
    font-size: 9px;
    color: #a8afbd;

}

.add{
    padding: 13px 161px;
    padding-left: 35px;
    background-color: #2b2c33;
    display: flex;
    /* height: 150px; */
    width: 100%;
    color: #ffffff;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.add img{
    height: 95px;
}
.add  .text{
    width: 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text h3{
    font-weight: 400;
    font-size: 23px;

}
.text p{
    font-size: 10px;
}
.add .addBtn{
width: 150px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.add .addBtn button{
    color: white;
padding: 14px;
border-radius: 4px;
background: none;
border: 2px solid white;
}
.add .addBtn button:hover{
    background-color: rgba(130, 130, 130, 0.21);
}
.add .addBtn a{
    color: rgb(128, 128, 128);
    font-size:12px ;
    margin-top: 5px;

}

.categories{
    background-color:#0b0c0f;
    /* height: 99vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    justify-content: space-between
}
.categories .p1{
    font-size: 12px;
    color: #1CE783;
    margin-top: 60px;
    margin-bottom: 20px;
}
.categories h1{
    margin-bottom: 30px;
    font-size: 42px;
}
.categories .p2{
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    width: 60%;
}
.categoriesBox{
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    background-color: #fff;
    height: 404px;
    width: 256px;
    background-size: cover;
    margin-right: 20px;
    padding: 20px;
}
.box h1{
    font-size: 20px;
    padding-top: 7px;
    font-weight: 400;
}
.box p{
    font-size: 10px;
}
.box:first-child{
    background-image: url("https://cnbl-cdn.bamgrid.com/assets/1fe40561415a61a95726ada4467fc374fa6f9667028c0d249d8c2c594160777e/original");
}
.box:nth-child(2){
    background-image: url("https://cnbl-cdn.bamgrid.com/assets/8c630a19daa8615918152082839724f4dab6538939ba7d3bb45f8faa97acf1b9/original");
}

.box:nth-child(3){
    background-image: url("https://cnbl-cdn.bamgrid.com/assets/89cea7fd1cb42712c4aeb2d6a9629f9c76a12691359f8feef14b2f93eddfe46c/original");
}

.box:last-child{
    background-image: url("https://cnbl-cdn.bamgrid.com/assets/4bae266f4178c145a7285dd09aafff4bc40a8e463cbcee1a8b3f27fb3f7a42ba/original");
}
.textView{
    height: 100vh;
    background: #0b0c0f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.textView div{
    width: 55%;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.textView div h4{
    font-size: 14px;
    color: #1CE783;
}
.textView div h1{
    font-size: 45px;
}
.textView div p{
    font-size: 17px;

}
.textView div a{
    font-size: 16px;
    font-weight: 900;
    color: rgb(188, 188, 188);
}
.news{
    height: 120vh;
    width: 100%;
    background-color: rgba(10, 134, 23, 0.758);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
background-image: url(./bg2.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.bNews{
    padding-bottom: 92px;
    display: flex;
    height: 47%;
    width: 69%;
    flex-direction: column;
    justify-content: space-between;
}
.bNews ul{
    display: flex;
    width: 346px;
    justify-content: space-between;
    margin: 10px 0;
}
.bNews button{
    color: #ffffff87;
    font-weight: 900;
    background: none;
    border: none;
    font-size: 11px;
}
.bNews h1{
    margin: 10px 0;
    font-size: 40px;
    margin-top: 25px;
}
.bNews p{
    margin: 10px 0;
    font-size: 16px;
    width: 500px;
    font-weight: 500;
}
.bNews div{
    margin: 10px 0;
    display: flex;
}
.bNews .icon{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 70px;
    margin-right: 20px;
}

.bNews .pTmc{
    margin: 10px 0;
    font-size: 8px;
}
.bNews .pTmc a{
color: #fff;
}
.plan{
    height: 200vh;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
}
.planText h1{
    font-size: 45px;
    margin-top: 80px;
    
}
.planText p{
    font-size: 17px;
    
}
.planText h2{
    font-size: 18px;
    
}
@media(max-width : 768px) {
    .menuIcon {
        display: block;
    }

    .logBtn {
        display: none;
    }
    .mainContainer{
        width: 80%;
    }
    .add{
        padding: 20px 0px;
        padding-left: 0px;
        height: 350px;
    }
    .textView div{
        width: 80%;}
        .news{
            background-position: left;
        }
}